.wall {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px 0 200px;
    background-image: url("./img/grey\ \(1\).jpg");
    background-color: #f2f2f2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.rom {
    display: flex;
    border: 20px ridge grey;
    box-shadow: 5px 5px 15px;
    background-image: url(./img/beach\ \(1\).jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.deraza {
    border: 20px ridge rgb(78, 68, 68);
    width: 200px;
    height: 400px;
    background-color: rgba(0, 0, 0, 0.6);
    transition: transform 0.7s ease;
}

.left {
    transform-origin: left center;
}

.right {
    transform-origin: right center;
}

.rom:hover .left {
    transform: perspective(2000px) rotateY(-125deg);
}

.rom:hover .right {
    transform: perspective(2000px) rotateY(125deg);
}

div {
    background-image: url("photo");
    background-repeat: no-repeat;
    background-size: 100px 100px;
}
